<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>The location is used for the location search during check-ins</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>The location is used for the location search during check-ins</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>The location is used for the location search during check-ins</string>
	<key>SUPABASE_URL</key>
	<string>${SUPABASE_URL}</string>
	<key>SUPABASE_ANON_KEY</key>
	<string>${SUPABASE_ANON_KEY}</string>
</dict>
</plist>
