#include "Project.xcconfig"
#include "Product.xcconfig"

//-- Product
PRODUCT_BUNDLE_IDENTIFIER = $(BUNDLE_ID_PREFIX).${BUNDLE_ID_BASE}.development
PRODUCT_NAME = ${APP_NAME} DEV
PRODUCT_MODULE_NAME = ${APP_NAME}dev
INFOPLIST_KEY_CFBundleDisplayName = ${APP_NAME} [DEV]

//-- Compiler
GCC_PREPROCESSOR_DEFINITIONS = DEBUG=1
SWIFT_ACTIVE_COMPILATION_CONDITIONS = DEBUG
SWIFT_OPTIMIZATION_LEVEL = -Onone
SWIFT_COMPILATION_MODE = $(inherited)
GCC_OPTIMIZATION_LEVEL = 0
ENABLE_TESTABILITY = YES
ENABLE_USER_SCRIPT_SANDBOXING = NO;
