@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Open Sans";
  word-wrap: break-word;
  width: 100%;
  height: 100%;
  background-color: #f1f3f5;
  color: #345;
  -webkit-overflow-scrolling: touch;
}

img {
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

@media print {
  html,
  body {
    font-size: 12px;
  }
  html,
  body,
  div {
    width: auto;
    height: auto !important;
    float: none !important;
    position: static !important;
    overflow: visible !important;
    page-break-inside: auto;
  }
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
