DEVELOPMENT_TEAM = YOUR_TEAM_ID
BUNDLE_ID_PREFIX = com.yourcompany
BUNDLE_ID_BASE = tastybytes
BASE_URL = https:/$()/yourdomain.com
SUPABASE_URL = https:/$()/yourdomain.supabase.co
SUPABASE_ANON_KEY = YOUR_SUPABASE_ANON_KEY
PRIVACY_POLICY_URL = https:/$()/yourdomain.com/privacy_policy
DEEP_LINK_BASE_URL = tastybytes:/$()/deeplink/
FEEDBACK_EMAIL = contact@yourdomain.com
