//-- Platforms
SUPPORTED_PLATFORMS = macosx iphonesimulator iphoneos appletvsimulator appletvos xrsimulator xros watchsimulator watchos

//-- Device Types
// 1: iPhone
// 2: iPad
// 3: TV
// 4: Watch
// 6: Unscaled Catalyst
// 7: Vision
TARGETED_DEVICE_FAMILY = 1,2,3,4,6,7

//-- Special Destinations
SUPPORTS_MAC_DESIGNED_FOR_IPHONE_IPAD = YES
SUPPORTS_XR_DESIGNED_FOR_IPHONE_IPAD = YES

//-- Interface Orientations
INFOPLIST_KEY_UISupportedInterfaceOrientations[sdk=watch*] = UIInterfaceOrientationPortrait UIInterfaceOrientationPortraitUpsideDown
INFOPLIST_KEY_UISupportedInterfaceOrientations_iPad[sdk=iphone*] = UIInterfaceOrientationPortrait UIInterfaceOrientationPortraitUpsideDown UIInterfaceOrientationLandscapeLeft UIInterfaceOrientationLandscapeRight
INFOPLIST_KEY_UISupportedInterfaceOrientations_iPhone[sdk=iphone*] = UIInterfaceOrientationPortrait UIInterfaceOrientationLandscapeLeft UIInterfaceOrientationLandscapeRight

//-- Deployment Targets
MACOSX_DEPLOYMENT_TARGET = 14.0
IPHONEOS_DEPLOYMENT_TARGET = 17.2
TVOS_DEPLOYMENT_TARGET = 17.2
WATCHOS_DEPLOYMENT_TARGET = 10.0
VISIONOS_DEPLOYMENT_TARGET = 1.0