#include "Config.xcconfig"
#include "Product.xcconfig"
#include "Compiler.xcconfig"

//-- Signing
CODE_SIGN_STYLE = Automatic
CODE_SIGN_IDENTITY = Apple Development

//-- Miscellaneous
SKIP_INSTALL = YES

//-- Deployment Targets
MACOSX_DEPLOYMENT_TARGET = 14.0
IPHONEOS_DEPLOYMENT_TARGET = 17.2
TVOS_DEPLOYMENT_TARGET = 17.2
WATCHOS_DEPLOYMENT_TARGET = 10.0
VISIONOS_DEPLOYMENT_TARGET = 1.0