<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BASE_URL</key>
	<string>${BASE_URL}</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.villeheikkila.tastey</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tastybytes</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>SUPABASE_ANON_KEY</key>
	<string>${SUPABASE_ANON_KEY}</string>
	<key>SUPABASE_URL</key>
	<string>${SUPABASE_URL}</string>
	<key>DEEP_LINK_BASE_URL</key>
	<string>${DEEP_LINK_BASE_URL}</string>
	<key>APP_NAME</key>
	<string>${APP_NAME}</string>
	<key>PRIVACY_POLICY_URL</key>
	<string>${PRIVACY_POLICY_URL}</string>
	<key>FEEDBACK_EMAIL</key>
	<string>${FEEDBACK_EMAIL}</string>
	<key>UIAppFonts</key>
	<array>
		<string>Comfortaa-Bold.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
