{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>Tuote</th>
      <th>Valmistaja</th>
      <th>Maistettu</th>
      <th></th>
    </tr>
    {% for product in products %}
    <tr>
      <td>{{ product.name }}</td>
      <td>{{ product.producer }}</td>
      <td>{{ product.public }}</td>
      <td>
	<form method="POST" action="{{ url_for('products_set_public', product_id=product.id) }}">
    <input type="submit" value="Tee julkiseksi"/>
  </form>
  <form method="POST" action="{{ url_for('products_remove', product_id=product.id) }}">
      <input type="submit" value="Poista"/>
  </form>
      </td>
    </tr>

    {% endfor %}
  </table>
{% endblock %}