{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>Tuote</th>
      <th>Valmistaja</th>
      <th>Maistettu</th>
      <th></th>
    </tr>
    {% for product in products %}
    <tr>
      <td>{{ product.name }}</td>
      <td>{{ product.producer }}</td>
      <td>{{ product.done }}</td>
      <td>
	<form method="POST" action="{{ url_for('products_set_done', product_id=product.id) }}">
	  <input type="submit" value="Change status!"/>
	</form>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}